.App {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-wrapper {
  padding: 10px;
  background-color: gray;
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-wrapper {
  background-color: white;
  padding: 5px;
  padding-right: 10px;
  margin: 5px;
  text-align: right;
  font-size: 35px;
}